header {
    padding: 10px;
    border: none;
    background-color: #414042;
    color: white;
}

main {
    padding: 10px;
}

.barcode {
    margin-top: 10px;
}

.error {
    display: none;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
}
