.task {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.task__title {
    margin-bottom: 10px;
}
.task__status {}
.span-title,
.task__dateOfCreation-title,
.task__dateOfChange-title,
.task__status-title {
    display: inline-block;
    width: 120px;
}
.task__status-name {}
.task__order {}
.task__order-title {
    display: inline-block;
    width: 120px;
}
.task__order-number {}
.task__executor {}
.task__executor-title {
    display: inline-block;
    width: 120px;
}
.task__executor-name {}
